<header class="header">
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <div class="navbar-collapse collapse" ng-class="{in: isCollapsed}" id="js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/')}"><a href="/">Home</a></li>
            <li ng-class="{ active: isActive('/about')}"><a ng-href="/about">About</a></li>
            <li ng-class="{ active: isActive('/contact')}"><a ng-href="/contact">Contact</a></li>
          </ul>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#js-navbar-collapse" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
</header>