<p>
    This Dark Sky demo app was created using the Yeoman Angular generator. It also uses the following 
    tech:
</p>
<ul>
    <li>
        Karma/Jasmine for unit testing
    </li>
    <li>
        SASS
    </li>
    <li>
        Bootstrap
    </li>
    <li>
        Dark Sky API
    </li>
    <li>
        <a href="http://ipinfo.io" target="_new">IpInfo service</a>
    </li>
</ul>

