<p>Contact info:</p>
<ul>
    <li>
        email = <a href="mailto:dubunin1@comcast.net">dubunin1@comcast.net</a>
    </li>
    <li>
        phone = <a href="tel:+1206-427-5966">206-427-5966</a>
    </li>
    <li>
        <a target="_new" href="http://www.linkedin.com/in/stephen-morrissey-750a782b">Linked In</a>
    </li>
</ul>
