<div class="jumbotron" data-ng-controller="MainCtrl">
  <h1>Dark Sky Demo</h1>
  <div class="error" data-ng-if="positionError">
    <strong>Error getting current position:</strong> {{positionError.message}}
  </div>
  <section id="forecast-section" data-ng-if="forecasts.length > 0">
    <h2 ng-bind="currentLocation"></h2>
    <ul class="list-unstyled list-group">
      <li class="list-group-item container" data-ng-repeat="item in forecasts">
        <div class="row">
          <div class="col-xs-14 col-sm-7">
            <p>
              <strong>{{ item.time * 1000 | date:'EEEE':'UTC'}}</strong><br/>
              <span class="summary">{{item.summary}}</span>
            </p>
          </div>
          <div class="col-xs-2">
            <p>
              <strong>low</strong><br/>
              {{item.temperatureMin | number:1}}&#176;
            </p>
          </div>
          <div class="col-xs-2">
            <p>
              <strong>high</strong><br/>
              {{item.temperatureMax | number:1}}&#176;
            </p>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
